* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



h1 {
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 50px;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 600px;
    height: 350px;
    border: 2px solid black;
    filter: blur(25px);
    border: 4px solid black;
}

img:hover {
    filter: blur(0px);
    transition: 2s;
}